<div>
  <!-- <h2>Component Communication</h2>
  <p>Parent Component </p>
  <p>Parent name is in parent component {{pname}}</p>
  <p>Child age is in parent component {{cAge}}</p>
  <p>Child designation is in parent componnet {{cDesg}}</p>
<hr/>
<app-child1 [parentName]="pname" (eventRef)="cAge=$event"></app-child1>
<hr/>
<app-child3></app-child3>
<hr/>
<app-child2></app-child2>
<hr/> -->
<hr/>
<app-child4></app-child4>
<hr/>
<app-child5></app-child5>
<hr/>
<app-child6></app-child6>
<hr/>
<app-child7></app-child7>
<hr/>
</div>