<div class="container">
    <div class="row">
        <div class="col-md-9">
            <img src="https://content3.jdmagicbox.com/comp/def_content/book_shops/default-book-shops-90.jpg" alt="">
        </div>
        <div class="col-md-3 border-left">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleFormControlInput1"
                    placeholder="name@example.com">
            </div>

            <button type="button" class="btn btn-success float-end">Login</button>
        </div>
    </div>
</div>